body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

.container {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 80%;
}

#output {
    margin-top: 20px;
    border-radius: 20%;
}

#outputImage {
    max-width: 100%;
    height: auto;
    /* border-radius: 20%; */
}